services:
  # Production service. Run using
  #     docker-compose up prod
  # Creates an production build, expecting to connect to a cloud database.
  prod:
    profiles:
      - prod
    image: risheitm/c01-go-pulse-app:0.3.0
    build:
      context: go-pulse
      dockerfile: prod.dockerfile
      args:
        POSTGRES_HOST: db
        DB_PORT: 5432
        # Client components can't access the docker network.
        # As such, we access WS stuff from the public host 
        # and port.
        NEXT_PUBLIC_WS_HOST: ${NEXT_PUBLIC_WS_HOST}
        NEXT_PUBLIC_WS_PORT: ${NEXT_PUBLIC_WS_PORT}
    expose:
      - 3000
    ports:
      - ${APP_PORT:-3000}:3000 # Default 3000, but allow override
    env_file:
      - ./.env
    environment:
        POSTGRES_HOST: db
        DB_PORT: 5432
        NEXT_PUBLIC_WS_HOST: ${NEXT_PUBLIC_WS_HOST}
        NEXT_PUBLIC_WS_PORT: ${NEXT_PUBLIC_WS_PORT}
    depends_on:
      db:
        condition: service_healthy
      socket:
        condition: service_started

  # Test server image. Runs npm test
  test:
    profiles:
      - test
    build:
      context: go-pulse
      dockerfile: test.dockerfile
    expose:
      - 3000
    ports:
      - ${APP_PORT:-3001}:3000 # Default 3001, but allow override

  # Websocket server image. Run using 
  #     docker-compose up ws
  # You shouldn't have to call this manually, it should instead be launched
  # automatically when composing the dev or prod services.  
  socket:
    profiles:
      - prod
      - dev
    image: risheitm/c01-go-pulse-websocket:1.0.0
    build:
      context: go-pulse-ws
      dockerfile: ws.dockerfile
    expose:
      - 8080
    ports:
      - ${NEXT_PUBLIC_WS_PORT}:8080
    env_file:
      - ./.env

  # Database image. Run using 
  #     docker-compose up db
  # You shouldn't have to call this manually, it should instead be launched
  # automatically when composing the dev or prod services.
  db:
    profiles:
      - prod
      - dev
    image: risheitm/c01-go-pulse-database:1.0.0
    build:
      context: go-pulse
      dockerfile: db.dockerfile
    volumes:
      - db-data:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - ${DB_PORT}:5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

    env_file:
      - ./.env

# Volume to allow for persistent local database data.
volumes:
  db-data: