services:
  # Production service. Run using
  #     docker-compose --profile prod up
  # Creates an production build, expecting to connect to a cloud database.
  prod:
    profiles:
      - prod
    build:
      context: go-pulse
      dockerfile: prod.dockerfile
    ports:
      - ${PROD_LOCAL_PORT:-3000}:3000 # Default 3000, but allow override
   
    env_file:
      - .env
    
    environment:
      - POSTGRES_HOST=db # Ensure the prod service can reach the db
    depends_on:
      db:
        condition: service_healthy

  # Database image. Run using 
  #     docker-compose up db
  # You shouldn't have to call this manually, it should instead be launched
  # automatically when composing the dev service.
  db:
    profiles:
      - prod
      - dev
    build:
      context: go-pulse
      dockerfile: db.dockerfile
      args:
        - POSTGRES_DB
        - POSTGRES_USER
        - POSTGRES_PASSWORD
    volumes:
      - db-data:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - ${DB_LOCAL_PORT}:${DB_REMOTE_PORT}
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

    env_file:
      - ./.env

# Volume to allow for persistent local database data.
volumes:
  db-data: